@model Page;
@{
	var pages = ViewData["pages"] as Page[];
} <div class="hero-area">
	<!-- Hero Slides Area -->
	<div class="hero-slides owl-carousel">

	@foreach (var page in pages)
	{
		<div class="single-hero-slide bg-img background-overlay" style="background-image: url(@(page.media.source));"></div>
	}

		
	</div>
	<!-- Hero Post Slide -->
	<div class="hero-post-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="hero-post-slide">
					@foreach (var page in pages){
						<div class="single-slide d-flex align-items-center">
							<div class="post-number">
								<p>@(page.id)</p>
							</div>
							<div class="post-title">
								<a href="@(page.slug)">@(page.title)</a>
							</div>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
